# Crear el archivo .editorconfig:
# (Crear el archivo con tu editor y guardar el siguiente contenido)
 root = true
 [*]
 indent_style = space
 indent_size = 4
 end_of_line = lf
 charset = utf-8
 trim_trailing_whitespace = true
 insert_final_newline = true
